# Frontend
Client/cms_frontend/node_modules/
Client/cms_frontend/.env
Client/build/

# Backend
Server/venv/
server/.env
**/__pycache__
Server/*.sqlite3
**/migrations/
**/*.pyc
**/*.pyo
**/*.pyd

# General
.DS_Store
.vscode/
.idea/

*.log